<?xml version="1.0" ?>
<model>
  <name>recyclables_industrielle_plastique_PP_industriel</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>BoxGenerator</name>
    <email>charifou.mousse@tekbot.io</email>
  </author>
  <description>Cube avec texture recyclables_industrielle_plastique_PP_industriel</description>
</model>
