<?xml version="1.0" ?>
<model>
  <name>menagers_residentielle_reste_fruit</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>BoxGenerator</name>
    <email>charifou.mousse@tekbot.io</email>
  </author>
  <description>Cube avec texture menagers_residentielle_reste_fruit</description>
</model>
