<?xml version="1.0" ?>
<model>
  <name>dangereux_residentielle_batterie_telephone</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>BoxGenerator</name>
    <email>charifou.mousse@tekbot.io</email>
  </author>
  <description>Cube avec texture dangereux_residentielle_batterie_telephone</description>
</model>
