<?xml version="1.0"?>
<model>
    <name>qr_code_zone3MoroccoMall</name>
    <version>1.0</version>
    <sdf version="1.5">model.sdf</sdf>
    <author>
        <name>QR code Generator script</name>
        <email>contact@tekbot.io</email>
    </author>
    <description>qr code zone3 Morocco Mall TRC2K25</description>
</model>
